/* Import the chosen font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

/* Variables and mixins declared here will be available in all other SCSS files */
@import 'bootstrap/scss/functions'; /* Override Bootstrap's variables here */
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

/* Override Bootstrap's default font with your chosen font */
$font-family-base: 'Inter', sans-serif;
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-monospace: 'Courier New', monospace;  /* Or another monospace font */

/* Primary color override */
$primary: #191970;

@media print {
    .card,
    .btn,
    .table,
    .badge {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    .bg-danger {
        background-color: #dc3545 !important;
    }

    .text-white {
        color: #fff !important;
    }

    .bg-light {
        background-color: #f8f9fa !important;
    }

    .btn-secondary {
        background-color: #6c757d !important;
        color: #fff !important;
    }

    .btn-light {
        background-color: #f8f9fa !important;
        color: #212529 !important;
    }
    /* Add other colors and styles as needed */
}
